/* css/main.css */
.view {
    display: none; /* Todas ocultas por defecto */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.view.active {
    display: flex; /* Solo la activa se muestra */
    flex-direction: column;
}

/* Diseño del Home */
#view-home {
    background: url('https://images.unsplash.com/photo-1542291026-7eec264c27ff') center/cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.overlay {
    background: rgba(0,0,0,0.7);
    width: 100%; height: 100%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    padding: 20px;
}

.accent { color: #00FF88; }

/* Estilo Login */
.login-container {
    background: white;
    margin: auto;
    padding: 40px 20px;
    width: 85%;
    border-radius: 30px;
    text-align: center;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}